.page {
  background-color: #000;
  color: #fff;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 480px) {
  .page__section {
    max-width: 282px;
  }

  .page__content {
    min-height: 0;
  }
}
