.profile {
  display: flex;
  padding-top: 40px;
  align-items: center;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 9px 17px;
  align-items: center;
}

.profile__edit-button {
  background: transparent url(../images/edit_icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  background: transparent url(../images/add-button-plus-sign.svg) center
    no-repeat;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__title {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-family: "Inter", sans-serif;
  grid-area: description;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin-right: 0;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-top: 28px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    vertical-align: top;
    margin-bottom: 36px;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
